<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Toolbox Video</title>
    <link rel="stylesheet" type="text/css" href="public/vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="public/vendor/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="public/partials/app.css">
    <link rel="stylesheet" type="text/css" href="public/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-carousel/dist/angular-carousel.css">
</head>

<body ng-app="ourApp">
    <nav>
    <a href="/ToolboxVideo/#/"><img src="./public/images/TOOLBOX_VIDEO_WHITE_LOGO_BLACK_BACKGROUND.png" alt="Logo" class="logo_img_nav"><img src="./public/images/TOOLBOX_VIDEO_TEXT_NO_BACKGROUND.png"></a>
        <ul class="nav nav-pills" ng-controller="NavCtrl">
            <li ng-repeat="tab in tabs" tab="tab"><a ng-click="scrollTo({{tab.link}})">{{tab.label}}</a></li>
        </ul>
    </nav>

    <div ng-view></div>

    <!-- VENDOR -->
    <script src="public/vendor/jquery.js"></script>
    <script src="public/vendor/bootstrap.js"></script>
    <script src="public/vendor/angular.js"></script>
    <script src="public/vendor/angular-sanitize.js"></script>
    <script src="public/vendor/angular-route.js"></script>
    <script src="public/vendor/angular-cookies.js"></script>
    <script src="public/vendor/moment.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>

    <!-- CUSTOM -->
    <script src="public/controllers/init.js"></script>
    <script src="public/controllers/nav.ctrl.js"></script>
    <script src="public/controllers/main.ctrl.js"></script>
    <script src="public/controllers/testimonials.ctrl.js"></script>
</body>
</html>
