<section class="page">
  <h4>Toolbox Video is the premier video service provider for the construction and building maintenance industry. Toolbox is owned and operated by Charles Tondu and Marty Wendt, two super awesome dudes.</h4>

  <!-- <div class="lists"> -->
    <div class="list">
        <h3>Services:</h3>
        <p>Video</p>
        <p>Video</p>
        <p>Video</p>
        <p>Video</p>
        <p>Video</p>
        <p>Video</p>
        <p>Video</p>
        <p>Video</p>
        <p>Video</p>
    </div>

    <div class="list">
      <h3>Clients:</h3>
        <p>Company</p>
        <p>Company</p>
        <p>Company</p>
        <p>Company</p>
        <p>Company</p>
        <p>Company</p>
        <p>Company</p>
        <p>Company</p>
        <p>Company</p>
    </div>
  <!-- </div> -->

</section>