<section class="text">

  <div class="main-wrapper">
    <div>
      <h2>About</h2>
    </div>

    <div class="list-item">
      <h4>Charles and Martin have a close working relationship that dates back to the mid 1990’s. They know each other's strengths well and have organized the business to take full advantage of each of their talents. Toolbox Video runs flawlessly because of their ability to spend multiple days together on shoots and in the editing bay.</h4>
    </div>

    <div class="list-item">
        <h3>How it Works</h3>
      <h4>Toolbox creates professional videos using pro-level video and audio recording equipment, and editing software to give you professional quality at reasonable prices. Everything needed for the shoot arrives on site with us – including multiple pro-level cameras, microphones, lighting equipment, and a great attitude that puts your subs and contractors at ease when in front of our cameras. We are punctual, reliable, professional, and fast.</h4>
    </div>

<!--     <div class="list-item">
        <h3>Services:</h3>
    </div>

    <div class="list-item">
      <h3>Clients:</h3>
    </div>
  </div> -->

</section>