body {
  margin:0px;
  padding-top:1px;

  color:white;
  font-family: Verdana, Geneva, sans-serif;

  background-image: -webkit-linear-gradient(#9d9d9d, #eeeeee);
  background-image: -o-linear-gradient(#9d9d9d, #eeeeee);
  background-image: -moz-linear-gradient(#9d9d9d, #eeeeee);
  background-image: linear-gradient(#9d9d9d, #eeeeee);
}

#background {
  height:500px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*  background-image: "../images/background_1";*/
  background:;
}

h1 {
  font-size: 4em;
}

.title {
  text-align: center;
  font-weight: bold;
  font-family:Copperplate
}

.page {
  text-align: center;
  top:25px;
  width: 80%;
  margin: 0 auto;
}

.nav-bar-background {
  background-color: rgba(0,0,0,0.5);
  padding:5px;
}

nav ul {
  text-align: center;
  margin: 0 auto;
  display: table;
}

nav li {
  display: table-cell;
}

.page ul {
  list-style-type: none;
}

.nav-pills>li>a {
  border-color: #777777;
  color:white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: white;
  background-color: transparent;
  border: 1.5px solid white;
}

.nav-pills>li>a:hover {
  border-color: #000000;
    ;
}

.quote {
  margin: 15 auto;
  padding:5px;
  width: 400px;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
}

.youtube {
  margin:0 auto;
}

iframe {
  background:rgba(0,0,0,0.5);
  margin:0 auto;
}

.list {
  display:inline-block;
  margin: 10;
  padding:5px;
  width: 40%;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
}

.lists {
  margin:0 auto;
  width:70%;
}

.contact {
  display:inline-block;
  margin: auto 50;
  padding:5px;
  width: 30%;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
  top:175px;
  position: relative
}

a {
  text-decoration: none;
  color:white;
}

a:hover {
  text-decoration: underline;
  color:white;
}