html, body {
  background-color: #eeeeee
}

h1 {
  text-align: center
}

.page {
  text-align: center;
}

nav ul {
  text-align: center;
  margin: 0 auto;
  display: table;
}

nav li {
  display: table-cell;
}

.page ul {
  list-style-type: none;
}

.nav-pills > li.active > a {
  /*background-color:transparent;
  border: 1px solid black;*/
}