body {
/*  background-color: #eeeeee
*/
  color:white;
  font-family: Verdana, Geneva, sans-serif;
  /*background-image: -webkit-linear-gradient(#eeeeee, #9d9d9d);*/ /* For Safari 5.1 to 6.0
  background-image: -o-linear-gradient(#eeeeee, #9d9d9d); /* For Opera 11.1 to 12.0 */
  /*background-image: -moz-linear-gradient(#eeeeee, #9d9d9d);*/ /* For Firefox 3.6 to 15 */
  /*background-image: linear-gradient(#eeeeee, #9d9d9d);**//*/*/


  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("http://www.anothercity.ru/en/images/stories/roofs/84-mercury/3.jpg");
}

body {
  margin:0;
  padding-top:0;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 3em
}

.page {
  text-align: center;
}

nav ul {
  text-align: center;
  margin: 0 auto;
  display: table;
}

nav li {
  display: table-cell;
}

.page ul {
  list-style-type: none;
}

.nav-pills > li.active > a {
  /*background-color:transparent;
  border: 1px solid black;*/
}

.quote {
  margin: 15 auto;
  padding:5px;
  width: 400px;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
}