<section class="text">
  <div class="main-wrapper">
    <div>
      <h2>Contact</h2>
    </div>

    <div class="list-item">
      <h4>Contact us for more information about our services. We would be appy to provide you with a quote, advice, or guidance.</h4>
    </div>

    <div class="list">

      <div class="list-item">
        <h3>Phone</h3>
        <h5>123-4567</h5>
      </div>

      <div class="list-item">
        <a href="mailto:videos@video.com?Subject=Quote%Request">
          <h3>Email</h3>
          <h5>videos@videos.video</h5>
        </a>
      </div>

    </div>

  </div>

</section>