<section ng-controller="MainCtrl">
  <div class="sectionbox_1" id="home">
  </div>
  <div class="sectionbox_2">
    <div class="main-text-wrapper">
      <div class="textbox">
        <h1>Professional. Fast. Easy.</h1>
        <p>Toolbox Video Services creates professionally shot and edited videos of Operations & Maintenance training sessions. We believe your future hires deserve the same straight-from-the-source training that your original staff had.</p>
        <p>See why clients like D&H Construction and Eden Housing rely on us to help keep staff at their best. Let Toolbox Video transform your O&M training with professionally produced HD videos. You will see the difference.</p>
      </div>
    </div>
  </div>
  <div class="sectionbox_text">
    <div class="main-text-wrapper">
        <img src="./public/images/TOOLBOX_VIDEO_WHITE_LOGO_BLACK_BACKGROUND.png" alt="Logo" class="logo_img">

        <!-- Modal Image -->
        <a data-toggle="modal" data-target="#myModal">
          <div class="youtube"><img src="http://i.ytimg.com/vi/u710aRep9KA/hqdefault.jpg"></div>
        </a>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <iframe width="750" height="465" src="https://www.youtube.com/embed/u710aRep9KA" frameborder="0" allowfullscreen></iframe>
              </div>

            </div>
          </div>
        </div>
        <!-- end modal -->

    </div>
  </div>
  <div class="sectionbox_3">
    <div class="main-text-wrapper" id="about">
    <h1>About</h1>
    </div>
  </div>

  <div class="sectionbox_4">
    <div class="main-text-wrapper">
    <a name="contact"></a>
    <h1>Contact</h1>
    </div>
  </div>

  <div class="sectionbox_5">
    <div class="main-text-wrapper">
    <a name="testimonials"></a>
    <h1>Testimonials</h1>
    </div>
  </div>

</section>
