<section ng-controller="MainCtrl">
  <div class="sectionbox_1">
    <div flex></div>
    <h1>Professional. Fast. Easy.</h1>
  </div>
  <div class="sectionbox_2">
    <div class="main-text-wrapper">
      <div class="textbox">
        <p>Toolbox Video Services creates professionally shot and edited videos of Operations & Maintenance training sessions. We believe your future hires deserve the same straight-from-the-source training that your original staff had.</p>
        <p>See why clients like D&H Construction and Eden Housing rely on us to help keep staff at their best. Let Toolbox Video transform your O&M training with professionally produced HD videos. You will see the difference.</p>
      </div>
    </div>
  </div>
  <div class="sectionbox_text">
    <div class="main-text-wrapper">
        <img src="./public/images/TOOLBOX_VIDEO_WHITE_LOGO_BLACK_BACKGROUND.png" alt="Logo" class="logo_img">
      </div>
  </div>
  <div class="sectionbox_3">
    <div class="main-text-wrapper">
    <h1>About</h1>
    </div>
  </div>

  <div class="sectionbox_4">
    <div class="main-text-wrapper">
    <h1>Contact</h1>
    </div>
  </div>

  <div class="sectionbox_5">
    <div class="main-text-wrapper">
    <h1>Testimonials</h1>
    </div>
  </div>

</section>
